<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SmokeTests" verbose="1">
    <parameter name="browser" value="chrome"/>
    <test name="UserStories">
        <classes>
            <class name="ua.com.rozetka.stories.BuyingProductTest"/>
        </classes>
    </test>
</suite>